<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Input Jadwal</h5>
                </div>
                <div class="col-md-6 pr-1">
                <div class="form-group">
                        <label for="thn_akademik">
                            Tahun Akademik
                        </label>
                        <select class="form-control"
                                ng-options="item as item.thn_ajaran for item in DatasThnAkademik track by item.thn_ajaran"
                                ng-model="SelectedThnAkademik"></select>
                    </div>
                    <div class="form-group">
                        <label for="npm"><b>Search</b></label>
                        <input type="text" class="form-control" ng-model="Serach" ng-change="SetData()">
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Nama Dosen</label>
                                    <input type="text" class="form-control" ng-model="SelectedPegawai.nm_pegawai"
                                        disabled>
                                </div>
                            </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    <label>Jabatan</label>
                                    <input type="text" class="form-control" ng-model="SelectedPegawai.jabatan"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-4 pr-1">
                            <form role="form">
                                <div class="form-group">
                                    <label for="kmk">
                                        KMK
                                    </label>
                                    <select class="form-control"
                                            ng-options="item as item.kmk for item in DatasMatakuliah track by item.kmk"
                                            ng-model="SelectedMatakuliah"></select>
                                </div>
                                <div class="form-group">
                                    <label for="nm_matakul">
                                        Nama Matakuliah
                                    </label>
                                    <select class="form-control"
                                            ng-options="item as item.nm_matakul for item in DatasMatakuliah track by item.nm_matakul"
                                            ng-model="SelectedMatakuliah"></select>
                                </div>
                                <div class="form-group">
                                    <label for="sks">
                                        SKS
                                    </label>
                                    <select class="form-control"
                                    ng-options="item as item.sks for item in DatasMatakuliah track by item.sks"
                                    ng-model="SelectedMatakuliah"></select>
                                </div>
                            </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group">

                                    <label for="semester">
                                        Semester
                                    </label>
                                    <select class="form-control"
                                            ng-options="item as item.semester for item in DatasMatakuliah track by item.semester"
                                            ng-model="SelectedMatakuliah"></select>
                                </div>
                                <div class="form-group">

                                    <label for="jenjang">
                                        Kelas
                                    </label>
                                    <select class="form-control"
                                        ng-options="item.kelas as item.kelas for item in DatasKelas track by item.kelas"
                                        ng-model="input.kelas"></select>
                                </div>
                            </form>
                        </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary" type="submit" ng-click="Simpan()" data-dismiss="modal">
                        Simpan
                    </button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
            
        </div>
        
    </div>
</div>